p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: Verdana;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove default margin */
  background-image: url("Images/background02.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.MyLogo {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100px;
}

/*AVATAR*/
.AvatarDiv {
  display: inline-block;
  margin-left: 580px;
  margin-right: 200px;
  padding-bottom: 50px;
}
.MyAvatar {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
  width: 380px;
  height: 380px;
  border-radius: 200px;
  background-color: pink;
}
.MyIntro {
display: inline-block;
vertical-align: top;
width: 500px;
}
.GraphicDesigner {
  display: inline-block;
  vertical-align: bottom;
  width: 600px;
}

/*PARAGRAPH*/
.Paragraph1 {
  display: block;
}

.FirstTag {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffc0cb;
  font-size: 50px;
  font-weight: bold;
}

.MyIntroduction {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
  text-align: justify;
}

.Paragraph2 {
  display: block;
}

.SecondTag {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffc0cb;
  font-size: 50px;
  font-weight: bold;
}

.ThirdTag {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: pink;
  font-size: 50px;
  font-weight: bold;
}
.ThirdTagText {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  text-align: justify;
  margin-bottom: 50px;
}

.Project {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 50px;
}

/*INFORMATION1*/
.Information1 {
  margin-right: 700px;
  display: inline-block;
  margin-left: 450px;
}
.MyName {
  margin-bottom: 30px;
}

.MyEmail {
  margin-bottom: 30px;
}

.MySocialMedia {
  display: inline-block;
}

.FaceBookIcon {
  display: inline-block;
  vertical-align: top;
  width: 55px;
  margin-left: 10px;
}

.InstaIcon {
  display: inline-block;
  vertical-align: top;
  width:55px;
  margin-left: 10px;
}

/*INFORMATION2*/
.Information2 {
  display: inline-block;
  vertical-align: top;
}

.MyInterest {
  margin-bottom: 30px;
  text-align: center;
}

.HamsterIcon {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

.ConsoleIcon {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

.BrushIcon {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

.SleepIcon {
  display: inline-block;
  width: 100px;
  margin-right: 30px;
}

/*INFORMATION3*/
.Information3 {
  display: inline-block;
  vertical-align: top;
}

.LogoProject1 {
  display: inline-block;
  width: 2000px;
  margin-left: 280px;
  margin-right: 300px;
}

.LogoProject2 {
  display: inline-block;
  width: 2000px;
  margin-left: 300px;
  margin-right: 300px;
}
